body {
  margin: 0;
  overflow: hidden;
}
.root {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: min-content auto;
}

.nav {
  background: cadetblue;
  color: white;
  display:flex;
  justify-content: space-between;
}

.nav .heading {
  margin-left: 16px;
  margin-top: 16px;
  font-style: italic;
}

.boxes {
  display: flex;
  background: darkslategrey;
  padding: 5%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-between;
}

.box {
  width: 35%;
  height: 350px;
  background: white;
  border-radius: 8px;
  margin: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: #222 0px 0px 5px;
}

.box form {
  width: 100%;
  height: 90%;
  margin: 0px;
}

form textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  padding: 6px;
}

textarea.editable {
  background: #eee;
  border-radius: 3px;
}

textarea.uneditable {
  border-radius: 3px;
  margin: 1px;
  background: #fafafa;
}

textarea.uneditable:focus {
  outline: none;
}

textarea.uneditable:hover {
  cursor: default;
}


#title {
  align-self: center;
}

.client #title {
  color: #7f03fc;
}

.client form {
  border-radius: 3px;
  background: radial-gradient(circle at top left, rgba(0,206,209,1) 0%, rgba(255,255,255,1) 65%);
}

.menu {
  height: 100%;
  position: absolute;
  transition: right 2s;
  right: 0%;
}

.menu-gone {
  height: 100%;
  right: -405px;
}

.menu-content {
  display: grid;
  grid-auto-rows: min-content auto;
  padding: 16px;
  background: #496e76;
  color: white;
  height: 100%;
}

.settings { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}

.settings-item input {
  place-self: center;
  width: 100%;
}

.settings-desc {
  font-family: monospace;
  font-size: smaller;
}

.settings-item hr {
  border-style: dashed;
  display: grid;
}

.settings-item input {
  font-family: monospace;
  text-align: right;
}

.settings-item {
  display: grid;
  grid-template-columns: auto 50%;
}

.burger {
  margin-right: 16px;
  background: #496e76;
  height: 60px;
  margin: 0px;
  border: none;
  border-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 34px;
  left:-45px;
  position: absolute;
  margin-top: 5px;
}
